################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cubase_Device_Pannel_Name_Mapper/v16
